footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100vw;
  color: black;
}

#spotify {
  margin-right: 50px;
  text-decoration: none;
  color: black;
}

#email {
  text-decoration: none;
  color: black;
  margin-right: 50px;
}

#insta {
  text-decoration: none;
  color: black;
}
